body{
  background-color: darkcyan;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Arial;
}

/* Boutons */
div.btnLine{
  padding: 5px 20px;
}

div.btnLine button{
  margin: 5px;
  visibility: hidden;
}

button{
  background-color: #ff6666;
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  color: white;
	text-align: center;
	cursor: pointer;
	font-size: 1rem;
	padding: 5px 10px;
}

button:hover{
  background-color: #ff7575;
}

/* Encart jetons */
div.pJetons{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1vh 1vw;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
}

div.pJetons p{
  margin: 0;
}

div.pJetons span{
  font-weight: bold;
}

/* Decks */
div.deck{
  margin: 6vh 10vw;
  display: flex;
  justify-content: center;
  position: relative;
  border: thin black solid;
  padding: 2rem 0 1rem 0;
  height: 206px;
  width: 80vw;
  border-radius: 5px;
}

div.deck img{
  margin: 2px;
  border-radius: 6px; /*Supprime bord blanc moche des images*/
  height: 202px;
  width: 139px;
}

div.deck h2{
  position: absolute;
  top: 0px;
  margin: 0 auto;
}

div#deckJ{
  position: absolute;
  bottom: 5vh;
}

/* Modal */
div.modal{
	position: absolute;
	border: thin black solid;
	background-color: lightgrey;
	top: 40vh;
	left: 40vw;
	width: 20vw;
	padding: 2vh 2vw;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  visibility: hidden;
  display: flex;
	flex-direction: column;
}

div.modal p{
  text-align: center;
}

div#modalP{
  z-index: 5;
}

/* Donnée de la partie */
div.dataParty{
  margin-left: 15vw;
}
